
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div>
    @Html.Partial("_PartialBanner")
</div>
<div>
    @Html.Partial("_PartialBody")
</div>
<div>
    @Html.Partial("_PartialFooter")
</div>

