

<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-video me-2" style="font-size: 30px; color: #ff0000;"></i>
            <span style="font-size: 30px; font-family: 'Agency FB', sans-serif; font-weight: bold; color:#ff0000;">Planet</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white active" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Phim bộ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Phim lẻ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Thiếu nhi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Thể thao</a>
                </li>
            </ul>

            <form class="d-flex me-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-3">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="fa-solid fa-user"></i> Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="fa-solid fa-right-to-bracket"></i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
